/*importar*/
:root{ 
    --color-primary: #43823a;
    --color-secondary: #0781ec;
    --color-tertiary: #0056b3;
}
h1.title {
    .josefin-sans-<uniquifier> 
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      
      }
  

